
<head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'default' %}">ERM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'default' %}">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'treeview' %}">Treeview</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" id="actionbar">
            <form action="{% url 'date_search' %}" method="post" class="d-flex" id="datepicker">
                {% csrf_token %}
                <div class="nav-item" id="search_label">
                    <h5>Search By Date Range </h5>
                </div>
                <div class="nav-item date-item">
                        <input type="date" name="date_from" class="calendar" value="1900-01-01">
                </div>
                <div class="nav-item date-item">
                    <input type="date" name="date_to" class="calendar" value="2022-08-29">
                </div>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form action="{% url 'search' %}" method="POST" class="d-flex">
                {% csrf_token %}
              <input class="form-control me-sm-2" name="search" type="text" placeholder="Search all fields...">
              <div class="nav-item date-item">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
            </form>
        </div>
      </nav>


  <table class="table table-hover">
    <thead>
      <tr>
        {% if sort == 'name' %}
        <th scope="col"><a id="currentsort" href="{% url 'sort_name' %}" #namesort>Name</a></th>
        {% else %}
        <th scope="col"><a href="{% url 'sort_name' %}" #namesort>Name</a></th>
        {% endif %}
        {% if sort == 'surname' %}
        <th scope="col"><a id="currentsort" href="{% url 'sort_by_surname' %}" #namesort>Surname</a></th>
        {% else %}
        <th scope="col"><a href="{% url 'sort_by_surname' %}" #namesort>Surname</a></th>
        {% endif %}
        {% if sort == 'birthday' %}
        <th scope="col"><a id="currentsort" href="{% url 'sort_by_birthday' %}" #namesort>Birthday</a></th>
        {% else %}
        <th scope="col"><a href="{% url 'sort_by_birthday' %}" #namesort>Birthday</a></th>
        {% endif %}
        {% if sort == 'employeenum' %}
        <th scope="col"><a id="currentsort" href="{% url 'sort_by_employeenum' %}" #namesort>Employee Number</a></th>
        {% else %}
        <th scope="col"><a href="{% url 'sort_by_employeenum' %}" #namesort>Employee Number</a></th>
        {% endif %}
        {% if sort == 'salary' %}
        <th scope="col"><a id="currentsort" href="{% url 'sort_by_salary' %}" #namesort>Salary</a></th>
        {% else %}
        <th scope="col"><a href="{% url 'sort_by_salary' %}" #namesort>Salary</a></th>
        {% endif %}
        {% if sort == 'role' %}
        <th scope="col"><a id="currentsort" href="{% url 'sort_by_role' %}" #namesort>Role</a></th>
        {% else %}
        <th scope="col"><a href="{% url 'sort_by_role' %}" #namesort>Role</a></th>
        {% endif %}
        {% if sort == 'reporting' %}
        <th scope="col"><a id="currentsort" href="{% url 'sort_by_reporting' %}" #namesort>Reporting</a></th>
        {% else %}
        <th scope="col"><a href="{% url 'sort_by_reporting' %}" #namesort>Reporting</a></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for i in EmpTable %}
        <tr class="table-secondary">
                <th scope="row">{{ i.Name }}</th>
                <td>{{ i.Surname }}</td>
                <td>{{ i.Birth_Date }}</td>
                <td>{{ i.Employee_Number }}</td>
                <td>{{ i.Salary }}</td>
                <td>{{ i.Role_Description }}</td>
                <td>{{ i.Reporting_Line }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>

{% if filter_applied %}
<div class="bottom_action">
    <a href="{% url 'default' %}"><button class="btn btn-outline-danger" id="clear_search" type="submit">Clear Selection</button></a>
</div>
{% endif %}

</body>